{% extends 'sidebar.html.twig' %}

{% block title %}
    {% if category is defined %}
        Categoria : {{ category.name }}
    {% elseif author is defined %}
        Autore : {{ author.username }}
    {% else %}
        Juventus F.C.
    {% endif %}
    {% if page > 1 %}
    Page {{ page }}
    {% endif %}
{% endblock %}

{% block main %}

    {% if category is defined %}
        <div class="page-header">
            <h1>Categoria : {{ category.name }}</h1>
            <p class="lead"></p>
        </div>
    {% elseif author is defined %}
        <div class="page-header">
            <h1>Autore : {{ author.username }}</h1>
            <p class="lead"></p>
        </div>
    {% else %}
        <div class="page-header">
            <h1>Juventus F.C.</h1>
            <p class="lead">Fino alla fine forza juventus</p>
        </div>
    {% endif %}

    {% for post in posts %}
    <article>
        <h2><a href="{{ path('post_show', {slug: post.slug}) }}" title="{{ post.name }}">{{ post.name }}</a></h2>
        <p>
            <small>
                Categoria : <a href="{{ path('post_category', {slug: post.category.slug}) }}">{{ post.category.name }}</a>,
                autore : <a href="{{ path('post_author', {id: post.user.id}) }}">{{ post.user.username }}</a>
                data : {{ post.createdAt | date("d M Y") }}</small>
        </p>
        <p>
            {{ post.content | markdown | excerpt(60) }}
        </p>
        <p class="text-right">
            <a href="{{ path('post_show', {slug: post.slug}) }}" class="btn btn-primary">leggi il post</a>
        </p>
    </article>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>

{% endblock %}
